<h1>Stories#index</h1>
<a
href="<%= @story.link %>"><%= @story.name %></a>

<h3>There is <%= @count %> <%= @count > 1 ? 'stories' : 'story' %> on this website on this moment</h3>

<a href="<%= new_story_path %>">Create a new story</a>

