<h2>Stories</h2>
<div>
  <h2><%= story_list_heading %></h2>
  <%= render partial: @stories %>
</div>

<% if !@count.nil? %>
    <div>
      <h4>There is <%= @count %> <%= @count > 1 ? 'stories' : 'story' %> on this website on this moment</h4>
    </div>
    <div>
      <a href="<%= new_story_path %>">Create a new story</a>
    </div>
<% end %>